.redes-sociais{
	border-radius: 30px;
	border:solid 1px black;
	text-align: center;
	width: 300px;
	padding: 10px;
	margin-bottom: 10px;
}

.redes-sociais img{
	margin-right: 10px
}

.redes-sociais p{
	


}

